<div class="mt-4">
    <h2>Thêm data vào mongodb</h2>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="nhập name vào">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea  name="description" class="form-control" placeholder="nhập description vào" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label>Thumbails</label>
            <input type="text" name="thumbails" class="form-control" placeholder="nhập hình vào">
        </div>
        <div class="form-group">
            <label>VideoId</label>
            <input type="text" name="videoId" class="form-control" placeholder="nhập videoId vào">
        </div>

        <button type="submit" class="btn btn-primary">Add </button>
    </form>
</div>