<form method="POST" action="/index/login/postlogin">

  <div class="form-group">
    <label>email</label>
    <input type="text" name="email" class="form-control" placeholder="nhập email vào">
  </div>
  <div class="form-group">
    <label>password</label>
    <input type="text" name="password" class="form-control" placeholder="nhập pass vào">
  </div>


  <button type="submit" class="btn btn-primary">Đăng Nhập</button>
</form>